<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/config :: config}"></th:block>
    <script src="/js/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container mt-5">
        <h1>로그인</h1>
        <hr/>
        <div th:if="${successMSG}">
            <h1>가입성공 !</h1>
            <p>가입해주셔서 감사합니다. 이제 당신의 비용관리를 시작하세요.</p>
        </div>
        <div>
            <form th:action="@{/login}" method="post" id="loginForm">
                <div th:if="${param.error}">잘못된 이메일 또는 패스워드 입니다.</div>
                <label for="email" class="d-block">이메일<br><input type="email" id="email" name="email" placeholder="이메일 입력"/></label>
                <label for="password" class="d-block mt-3">패스워드<br><input type="password" id="password" name="password" placeholder="비밀번호 입력"/></label>
                <button type="submit" class="mt-3">로그인</button>
                <button type="button" class="mt-3" onclick="location.href='/register'">회원가입</button>
            </form>
        </div>
    </div>
</body>
</html>