<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/config :: config}"></th:block>
    <script src="/js/register.js"></script>
    <title>Login</title>
</head>
<body>
<div class="container mt-5">
    <h1>회원 가입</h1>
    <hr />
    <form th:object="${user}" th:action="@{/register}" method="post" id="registerForm">
        <input type="text" placeholder="이름 입력" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br /><br />
        <input type="text" placeholder="이메일 입력" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br /><br />
        <input type="password" placeholder="비밀번호 입력" th:field="*{password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <br /><br />
        <input type="password" placeholder="비밀번호 확인" th:field="*{confirmPassword}" />
        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
        <br /><br />
        <button type="submit">회원가입</button>
        <button type="button" onclick="location.href='/login'">로그인</button>
    </form>
</div>
</body>
</html>