<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Question Detail</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <h5 class="card-header" th:text="${q.subject}"></h5>
        <div class="card-body">
            <p class="card-text" th:text="${q.content}"></p>
            <a th:href="@{/question/list}" class="btn btn-primary float-end ms-3">List</a>
            <a th:href="@{/question/edit/__${q.id}__}" class="btn btn-success float-end">Edit</a>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            <form th:action="@{/answer/create/__${q.id}__}" method="post" >
                <div class="d-flex">
                    <textarea name="content" id="content" rows="3" class="form-control"></textarea>
                    <label for="content"></label>
                    <input type="submit" class="float-end btn btn-warning ms-2" value="답등록">
                </div>
            </form>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center" th:text="'↓↓↓↓↓↓↓ ' + ${#lists.size(q.answerList)}+'개의 답변 ↓↓↓↓↓↓↓'"></li>
            <li class="list-group-item" th:each="a : ${q.answerList}" th:text="${a.content}"></li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>