@font-face {
	font-family: 'ryuddung';
	src: url('/src/assets/fonts/온글잎\ 류뚱체.ttf');
	font-weight: normal;
	font-style: normal;
}

.align_center {
	display: flex;
	align-items: center;
}

a {
	font-size: inherit;
	font-weight: 500;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}