<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="config">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--/* 부트스트랩 */-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <script src="/js/bootstrap.js"></script>
    <!--/* jquery */-->
    <script src="/js/jquery.min.js"></script>
    <!--/* jquery-validation */-->
    <script src="/js/jquery.validation.min.js"></script>
    <!--/* Custom */-->
    <link href="/css/inputdate.css" rel="stylesheet">
</th:block>

<div th:fragment="formErrors" class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
</div>

</html>