<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%c{-3}] - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.bitcprac" level="INFO" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.bitcprac.todospring.mapper" level="TRACE" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>